$text-color: #747e88;
$smooth-white-color: #f9f9fb;

$primary-color: #fea500;
$primary100-color: #f0c77c;
$primary-transparent-color: #fea500ad;

$secondary-color: #198754;

$over-image-color: #5ac1a8;

$third-color: #f48064bf;

$blue400-color: #e6f2ff;
$blue600-color: #007bff;

$purple-color: #7386d5;

$light-black-color: rgba(0, 0, 0, 0.11);
$good-black: rgba(0, 0, 0, 0.55);

$error-color: #dc3545;
