// small-mobile-screens => small mobile devices
$smob: "(min-width: 400px)";
// max-width => mobile devices
$mob: "(max-width: 767px)";
// min-width => small screens monitors
$sm: "(min-width: 767px)";
// min-width => medium screens
$md: "(min-width: 992px)";
// min-width => large screens
$lg: "(min-width: 1200px)";
