// font sizes
$tiny-text: 17.5px;
$small-text: 22.5px;
$medium-text: 28px;
$big-text: 34px;
$title-text: 40px;

// fonts
$primary-font: "Nunito", sans-serif;
$light-font: 200;
$good-font: 300;
$regular-font: 400;
$medium-font: 500;
$semi-bold-font: 600;
$bold-font: 700;
