// \/ -------------------- ~ Variables ~ ---------------------- \/
// ------------ ~ colors ~ ----------
$main_color: #eee;
$secondary_color: 000000;
$third_color: 000000;
$dark_color: rgba(black, 0.3);

// ------------ ~ sizes ~ ----------
$marings: 20px;
$paddings: 20px;
$font_size: 20px;

// ------------ ~ fonts ~ ----------
$main_font: serif;
